# Node
node_modules/
npm-debug.log*
.env
.DS_Store
faceapi/venv/
faceapi/venv311/
**/venv/
**/.venv/
venv/
.venv/


# Python
__pycache__/
*.pyc
ml.venv/

# React Native / Expo
frontend/.expo/
*.expo
*.expo-shared/

# Uploads temporários
backend/uploads/

# Logs e arquivos temporários
*.log
